body {
    background-color: rgb(205, 223, 255);
    text-align: justify;
}

h1 {
    color: darkgreen;
}

#imagem1 {
    border: 5px solid rgb(0, 1, 2);
    width: 20%;
    padding: 10px;
    margin: 5px;
}
li:marker {
content: "\2606";
color: darkgreen;
font-size: 30px
}

.itens {
    background-color: black;
}
